hydra:
  run:
    dir: ${outputDir}
  sweep:
    dir: ${outputDir}
    subdir: ${hydra.job.override_dirname}
  job:
    config:
      override_dirname:
        exclude_keys:
          - outputDir
          - datasetPath
          - datasetType
          - datasetOptions
          - trainTransforms
          - evalTransforms
          - wandb.enabled
          - wandb.setup.project
          - wandb.setup.entity
          - wandb.setup.group

defaults:
  - wandb: defaults

outputDir: ${hydra:runtime.cwd}/outputs/kaggle2025_demo

datasetPath: ${hydra:runtime.cwd}/samples/datasets/kaggle2025
datasetType: kaggle_2025
datasetOptions:
  feature_dtype: float32

trainTransforms:
  - name: HighGammaPower
    params:
      sample_rate: 1000.0
      band: [80.0, 160.0]
      log_power: True
      zscore: True
      eps: 1.0e-5

# Reuse train transforms for evaluation by default
# (can be overridden via hydra overrides)
evalTransforms: ${trainTransforms}

seqLen: 50

seed: 0
batchSize: 2
lrStart: 0.01
lrEnd: 0.01
l2_decay: 1e-6
nSteps: 4

whiteNoiseSD: 0.2
constantOffsetSD: 0.05
gaussianSmoothWidth: 1.0

nUnits: 64
nLayers: 2
nInputFeatures: 8
nClasses: 40
dropout: 0.1
strideLen: 2
kernelLen: 8
bidirectional: True
momentum: 0.9
nesterov: False
stepSize: 2
gamma: 0.5

numWorkers: 0

# lightning
accelerator: cpu
devices: 1
precision: 32