hydra:
  run:
    dir: ${outputDir}
  sweep:
    dir: ${outputDir}
    subdir: ${hydra.job.override_dirname}
  job:
    config:
      override_dirname:
        exclude_keys:
          - outputDir
          - datasetPath
          - datasetType
          - datasetOptions
          - trainTransforms
          - evalTransforms
          - wandb.enabled
          - wandb.setup.project
          - wandb.setup.entity
          - wandb.setup.group

defaults:
  - wandb: defaults
  - model: parallel_attention
  - decoder: base

outputDir: ${hydra:runtime.cwd}/outputs/kaggle2025_demo

datasetPath: ${hydra:runtime.cwd}/samples/datasets/kaggle2025
datasetType: kaggle_2025
datasetOptions:
  feature_dtype: float32

trainTransforms:
  - name: HighGammaPower
    params:
      sample_rate: 1000.0
      band: [80.0, 160.0]
      log_power: True
      zscore: True
      eps: 1.0e-5
  - name: TimeWarp
    params:
      max_warp: 0.15
      p: 0.4
  - name: ChannelDropout
    params:
      dropout_rate: 0.2
      p: 0.5
      fill_value: 0.0
  - name: AdditiveNoise
    params:
      std: 0.05
      p: 0.3

# Reuse train transforms for evaluation by default
# (can be overridden via hydra overrides)
evalTransforms: ${trainTransforms}

seqLen: 50

seed: 0
batchSize: 2
lrStart: 0.01
lrEnd: 0.01
l2_decay: 1e-6
nSteps: 4

whiteNoiseSD: 0.2
constantOffsetSD: 0.05
gaussianSmoothWidth: 1.0

nUnits: 64
nLayers: 2
nInputFeatures: 8
nClasses: 40
dropout: 0.1
strideLen: 2
kernelLen: 8
bidirectional: True
momentum: 0.9
nesterov: False
stepSize: 2
gamma: 0.5

numWorkers: 0

# lightning
accelerator: cpu
devices: 1
precision: 32

curriculum:
  enabled: false
  stages:
    - name: warmup_short_vocab
      overrides:
        seqLen: 30
        datasetOptions:
          train:
            max_time_bins: 60
            max_phone_len: 30
            vocabulary: [1, 2, 3, 4, 5, 6]
          eval:
            max_time_bins: 80
            max_phone_len: 40
            vocabulary: [1, 2, 3, 4, 5, 6]
        nSteps: 3
    - name: extended_context
      overrides:
        seqLen: 50
        datasetOptions:
          train:
            max_time_bins: 100
            max_phone_len: 50
        nSteps: 4
